STORMBOX_TARGET_ENV=stage
STORMBOX_BASE_URL=https://webmail.stage-thundermail.com/
ACCTS_OIDC_EMAIL="Thundermail username"
ACCTS_OIDC_PWORD="Thundermail password"
PRIMARY_THUNDERMAIL_EMAIL="primary Thundermail email address"
BROWSERSTACK_USERNAME="browserstack account user name"
BROWSERSTACK_ACCESS_KEY="corresponding browserstack access key"
